{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button onclick="preFormSubmit()" type="submit" form="form-celebrity" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <link rel="stylesheet" href="view/javascript/cropper/cropper.css">
    <script src="view/javascript/cropper/cropper.js" ></script>

    {#<script src="view/javascript/cropper/jquery-cropper.js" ></script>#}

    <style>
        #dz-previews-container .dz-remove{
            color: red;
        }
        #dz-previews-container .dz-progress{
            display: block;
            height: 5px;
        }
        #dz-previews-container .dz-upload {
            display: block;
            height: 100%;
            background: #b7e2b7;
            width: 0;
        }

    </style>

    <script>
        var cropper_aspect_ratio = 1;
    </script>
    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="img-container" >
                        <img id="modal-celebrity-image" style = "max-width:100%;/*max-height:calc(100vh - 200px);*/align:center;">
                    </div>
                </div>
                <div id="dz-previews-container" style="padding:15px; padding-top:0;"></div>
                <div class="modal-footer">
                    <button id="dropzone-celebrity-image" type="button" class="btn btn-primary" style= "float: left;" onclick="clearFeaturedPreviewsConatainer()">Browse</button>
                    <button type="button" class="btn btn-success" style= "float: left;" data-dismiss="modal" onclick="saveCroppedImage()" data-toggle="tooltip" title="{{ text_button_accept_crop }}">Accept</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <input type="hidden" id="modal_request_source">
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#modal').on('shown.bs.modal', function (e) {
            onModalOpen();
        })
    </script>

    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-celebrity" class="form-horizontal">

                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-account-first-name"><span data-toggle="tooltip" title="{{ help_account_first_name }}">{{ entry_account_first_name }}</span></label>
                        <div class="col-sm-10">
                            <input type="text" name="account_first_name" value="{{ account_first_name }}" placeholder="{{ entry_account_first_name }}" id="input-account-first-name" class="form-control" />
                            {% if error_account_first_name %}
                                <div class="text-danger">{{ error_account_first_name }}</div>
                            {% endif %}</div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-account-last-name"><span data-toggle="tooltip" title="{{ help_account_last_name }}">{{ entry_account_last_name }}</span></label>
                        <div class="col-sm-10">
                            <input type="text" name="account_last_name" value="{{ account_last_name }}" placeholder="{{ entry_account_last_name }}" id="input-account-last-name" class="form-control" />
                            {% if error_account_last_name %}
                                <div class="text-danger">{{ error_account_last_name }}</div>
                            {% endif %}</div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-email"><span data-toggle="tooltip" title="{{ help_email }}">{{ entry_email }}</span></label>
                        <div class="col-sm-10">
                            <input {% if edit_mode %}readonly{% endif %} type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
                            {% if error_email %}
                                <div class="text-danger">{{ error_email }}</div>
                            {% endif %}</div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-telephone">{{ entry_telephone }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="telephone" value="{{ telephone }}" placeholder="{{ entry_telephone }}" id="input-telephone" class="form-control" />
                            {% if error_telephone %}
                                <div class="text-danger">{{ error_telephone }}</div>
                            {% endif %}</div>
                    </div>







                    <div class="form-group required">
                        <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_celebrity_first_name }}">{{ entry_celebrity_first_name }}</span></label>
                        <div class="col-sm-10">
                            {% for language in languages %}
                                <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                                    <input type="text" name="celebrity_details[{{ language.language_id }}][first_name]" value="{{ celebrity_details[language.language_id] ? celebrity_details[language.language_id].first_name }}" placeholder="{{ entry_celebrity_first_name }}" class="form-control" />
                                </div>
                                {% if error_celebrity_first_name[language.language_id] %}
                                    <div class="text-danger">{{ error_celebrity_first_name[language.language_id] }}</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_celebrity_last_name }}">{{ entry_celebrity_last_name }}</span></label>
                        <div class="col-sm-10">
                            {% for language in languages %}
                                <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                                    <input type="text" name="celebrity_details[{{ language.language_id }}][last_name]" value="{{ celebrity_details[language.language_id] ? celebrity_details[language.language_id].last_name }}" placeholder="{{ entry_celebrity_last_name }}" class="form-control" />
                                </div>
                                {% if error_celebrity_last_name[language.language_id] %}
                                    <div class="text-danger">{{ error_celebrity_last_name[language.language_id] }}</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% for language in languages %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-bio{{ language.language_id }}">{{ entry_bio }}</label>
                            <div class="col-sm-10">
                                <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                                    <textarea name="celebrity_details[{{ language.language_id }}][bio]" rows="5" placeholder="{{ entry_bio }}" id="input-bio{{ language.language_id }}" class="form-control">{{ celebrity_details[language.language_id] ? celebrity_details[language.language_id].bio }}</textarea>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_status }}">{{ entry_status }}</span></label>
                        <div class="col-sm-10">
                            {#<label class="radio-inline"><input type="radio" name="status" value="1" checked="checked" />{{ text_yes }}</label>#}
                            {#<label class="radio-inline"><input type="radio" name="status" value="0" />{{ text_no }}</label>#}
                            <label class="radio-inline">
                                {% if status %}
                                    <input type="radio" name="status" value="1" checked="checked" />
                                    {{ text_yes }}
                                {% else %}
                                    <input type="radio" name="status" value="1" />
                                    {{ text_yes }}
                                {% endif %}
                            </label>
                            <label class="radio-inline">
                                {% if not status %}
                                    <input type="radio" name="status" value="0" checked="checked" />
                                    {{ text_no }}
                                {% else %}
                                    <input type="radio" name="status" value="0" />
                                    {{ text_no }}
                                {% endif %}
                            </label>


                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ entry_square_image}}</span></label>
                        <div class="col-sm-10">
                            <img alt="blank" style="border:1px solid lightgrey;  width:300px;" id="square_image" src="{{ square_image }}">
                            <input type="hidden" name="square_image" id="square_image_src">
                            <div class="row" style="margin-top:10px;">
                                <div class="col-sm-12">
                                    <button onclick="changeSquare()" form="form1" class="btn btn-primary" style="font-weight: bold;margin-right: 10px;" id="changeSquare" data-target="#modal" data-toggle="modal">Change</button>
                                    <button onclick="removeSquare()" form="form1" class="btn btn-danger" style="font-weight: bold;margin-right: 10px;" id="removeSquare" >Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ entry_portrait_image }}</span></label>
                        <div class="col-sm-10">
                            <img alt="blank" style="border:1px solid lightgrey;  width:300px;height:450px;" id="portrait_image" src="{{ portrait_image }}">
                            <input type="hidden" name="portrait_image" id="portrait_image_src">
                            <div class="row" style="margin-top:10px;">
                                <div class="col-sm-12">
                                    <button onclick="changePortrait()" form="form1" class="btn btn-primary" style="font-weight: bold;margin-right: 10px;" id="changePortrait" data-target="#modal" data-toggle="modal">Change</button>
                                    <button onclick="removePortrait()" form="form1" class="btn btn-danger" style="font-weight: bold;margin-right: 10px;" id="removePortrait" >Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>




                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}


<style>
    .dropzone .dz-preview .dz-details .dz-filename, .dropzone-previews .dz-preview .dz-details .dz-filename {
        overflow: hidden;
        height: 100%;
        text-align: center;
        margin-top: 20px;
    }

    .dropzone .dz-preview .dz-details img, .dropzone-previews .dz-preview .dz-details img {
        cursor: pointer;
    }
</style>

<link rel="stylesheet" href="view/css/momday/dropzone.css">
<script src="view/javascript/momday/dropzone.js" ></script>

<style>
    #square_image{
        max-width: 100%; /* This rule is very important, please do not ignore this! */
    }
    #portrait_image{
        max-width: 100%; /* This rule is very important, please do not ignore this! */
    }
</style>

<script>
    function initializeCropper() {
        // var cropperimage = document.getElementById(cropper);
        // var cropperimage = $('#cropper');
        var cropperimage = $('#modal-celebrity-image');

        var cropper = cropperimage.cropper('destroy').cropper({
            // var cropper = new Cropper(cropperimage, {

            // options here


            // Define the view mode of the cropper
            viewMode: 2, // 0, 1, 2, 3

            // Define the dragging mode of the cropper
//                 dragMode: DRAG_MODE_CROP, // 'crop', 'move' or 'none'

            // Define the aspect ratio of the crop box
            // aspectRatio: 1,
            aspectRatio: cropper_aspect_ratio,

            // An object with the previous cropping result data
            data: null,

            // A selector for adding extra containers to preview
            preview: '',

            // Re-render the cropper when resize the window
            responsive: true,

            // Restore the cropped area after resize the window
            restore: true,

            // Check if the current image is a cross-origin image
            checkCrossOrigin: true,

            // Check the current image's Exif Orientation information
            checkOrientation: true,

            // Show the black modal
            modal: true,

            // Show the dashed lines for guiding
            guides: true,

            // Show the center indicator for guiding
            center: true,

            // Show the white modal to highlight the crop box
            highlight: true,

            // Show the grid background
            background: true,

            // Enable to crop the image automatically when initialize
            autoCrop: true,

            // Define the percentage of automatic cropping area when initializes
            autoCropArea: 0.8,

            // Enable to move the image
            movable: true,

            // Enable to rotate the image
            rotatable: true,

            // Enable to scale the image
            scalable: true,

            // Enable to zoom the image
            zoomable: true,

            // Enable to zoom the image by dragging touch
            zoomOnTouch: true,

            // Enable to zoom the image by wheeling mouse
            zoomOnWheel: true,

            // Define zoom ratio when zoom the image by wheeling mouse
//                 wheel<a href="https://www.jqueryscript.net/zoom/">Zoom</a>Ratio: 0.1,

            // Enable to move the crop box
            cropBoxMovable: true,

            // Enable to resize the crop box
            cropBoxResizable: true,

            // Toggle drag mode between "crop" and "move" when click twice on the cropper
            toggleDragModeOnDblclick: true,

            // Size limitation
            minCanvasWidth: 0,
            minCanvasHeight: 0,
            minCropBoxWidth: 0,
            minCropBoxHeight: 0,
            minContainerWidth: 200,
            minContainerHeight: 100,

            // Shortcuts of events
            ready: null,
            cropstart: null,
            cropmove: null,
            cropend: null,
            crop: null,
            zoom: null


        });

    }

    function onModalOpen(){
        initializeCropper();
    }


    function b64toBlob(b64Data, contentType, sliceSize) {
        contentType = contentType || '';
        sliceSize = sliceSize || 512;

        var byteCharacters = atob(b64Data);
        var byteArrays = [];

        for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
            var slice = byteCharacters.slice(offset, offset + sliceSize);

            var byteNumbers = new Array(slice.length);
            for (var i = 0; i < slice.length; i++) {
                byteNumbers[i] = slice.charCodeAt(i);
            }

            var byteArray = new Uint8Array(byteNumbers);

            byteArrays.push(byteArray);
        }

        var blob = new Blob(byteArrays, {type: contentType});
        return blob;
    }

    function saveCroppedImage(){
        var request_source = document.getElementById("modal_request_source").value;
        var destination_image_id;
        if(request_source === "square"){
            destination_image_id = "square_image";
        }else if(request_source === "portrait"){
            destination_image_id = "portrait_image";
        }

        var cropperimage = $('#modal-celebrity-image');
        var ImageURL = cropperimage.cropper('getCroppedCanvas').toDataURL('image/jpeg',0.9);
        // Split the base64 string in data and contentType
        var block = ImageURL.split(";");
        // Get the content type
        var contentType = block[0].split(":")[1];// In this case "image/gif"
        // get the real base64 content of the file
        var realData = block[1].split(",")[1];// In this case "iVBORw0KGg...."

        // Convert to blob
        var blob = b64toBlob(realData, contentType);

        // Create a FormData and append the file
        var fd = new FormData();
        fd.append("file", blob,"blob.jpeg");

        // Submit Form and upload file
            $.ajax({
            url:"{{ upload_file_url }}",
            data: fd,// the formData function is available in almost all new browsers.
            type:"POST",
            contentType:false,
            processData:false,
            cache:false,
            dataType:"json", // Change this according to your response from the server.
            beforeSend: function() {
                disable_square_buttons();
                removeTempImage(request_source);
                document.getElementById(destination_image_id).src = '{{ loading_image }}';
            },
            error:function(err){
                // console.error(err);
            },
            success:function(data){
                // console.log(data);
                document.getElementById(destination_image_id).src = data.image_url + data.filepath + data.filename;
            },
            complete:function(){
                enable_square_buttons();
                // console.log("Request finished.");
            }
        });

    }

    function removeTempImage(image_type){
        var cropped_image_id;
        if(image_type === 'square'){
            cropped_image_id = 'square_image'
        }else if(image_type === 'portrait'){
            cropped_image_id = 'portrait_image';
        }else if(image_type === 'modal'){
            cropped_image_id = 'modal-celebrity-image';
        }else{
            return;
        }
        var cropped_image_source = document.getElementById(cropped_image_id).src;
        var name_to_array = cropped_image_source.split("/");
        var name_array_length = name_to_array.length;
        var filenameToRemove = name_to_array[name_array_length-1];
        var parentFolderName = name_to_array[name_array_length-2];

        // Create a FormData and append the file details
        var fd = new FormData();
        fd.append("filenameToRemove", filenameToRemove);

        // if image path is not temp, image removal will be handled on update
        if(parentFolderName === "temp") {
            $.ajax({
                url: "{{ remove_temp_image_url }}",
                data: fd,
                type: "POST",
                contentType: false,
                processData: false,
                cache: false,
                dataType: "json", // Change this according to your response from the server.
            });
        }
    }


    function clearFeaturedPreviewsConatainer(){
        document.getElementById('dz-previews-container').innerHTML="";
    }

    $("#dropzone-celebrity-image").dropzone({
        addRemoveLinks: false,
        uploadMultiple: false,
        createImageThumbnails: false,
        previewsContainer : '#dz-previews-container',
        previewTemplate: '<div class="uploaded-image"><span data-dz-name></span> <strong class="dz-size" data-dz-size></strong><div class="dz-error-message" data-dz-errormessage></div><div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div></div>',
        acceptedFiles: '.jpeg,.jpg,.png,.gif',
        dictMaxFilesExceeded: "Maximum upload limit reached",
        url: "{{ upload_file_url }}",
        {#params: {#}
        {#post_id: "{{ post_id }}"#}
        {#},#}
        dictInvalidFileType: "upload only JPG/PNG/GIF",

        init: function() {
            this.on("success", function (file,serverFileName) {
                removeTempImage('modal');
                document.getElementById('modal-celebrity-image').src=serverFileName.image_url + serverFileName.filepath + serverFileName.filename;
                initializeCropper();
            });
            this.on("error", function(file, message) {
                this.removeFile(file);
                alert(message);
            });
        }
    });

    function preFormSubmit(){
        document.getElementById("square_image_src").value = document.getElementById("square_image").src;
        document.getElementById("portrait_image_src").value = document.getElementById("portrait_image").src;
        removeTempImage('modal');
    }

    function changeSquare(){
        cropper_aspect_ratio = 1;
        document.getElementById("modal_request_source").value = "square";
    }
    function removeSquare(){
        removeTempImage('square');
        document.getElementById("square_image").src = "{{ blank_image }}";
    }
    function changePortrait(){
        cropper_aspect_ratio = 0.667;
        document.getElementById("modal_request_source").value = "portrait";
    }
    function removePortrait(){
        removeTempImage('portrait');
        document.getElementById("portrait_image").src = "{{ blank_image }}";
    }

    function disable_square_buttons(){
        document.getElementById("changeSquare").disabled = true;
        document.getElementById("removeSquare").disabled = true;
    }

    function enable_square_buttons(){
        document.getElementById("changeSquare").disabled = false;
        document.getElementById("removeSquare").disabled = false;
    }

    function disable_portrait_buttons(){
        document.getElementById("changePortrait").disabled = true;
        document.getElementById("removePortrait").disabled = true;
    }

    function enable_portrait_buttons(){
        document.getElementById("changePortrait").disabled = false;
        document.getElementById("removePortrait").disabled = false;
    }
</script>