{{ header }}{{separate_column_left}}
<style type="text/css">
  input[type="text"], input[type="email"], input[type="password"], input[type="tel"], textarea {
    background: #FFF none repeat scroll 0% 0%;
    border-radius: 0px;
    border: 1px solid #E4E4E4;
    padding: 8px;
    width: 90%;
    transition: all 0.2s ease 0s;
    font-size: 13px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.08) inset;
}
fieldset .pull-left {
      width: 29%;
      display: inline-block;
    }
    fieldset .pull-left:nth-child(1), fieldset .pull-left:nth-child(2) {
      margin-right:1%;
    }
    @media screen and (max-width: 760px) {
      .top_margin {
        margin-top: 28px;
      }
    }
    @media screen and (max-width: 550px) {
      .top_margin {
        width: auto !important;
      }
      fieldset .pull-left:nth-child(1), fieldset .pull-left:nth-child(2) {
        margin-right: 0;
      }
    }
    @media screen and (max-width: 550px) {
      fieldset .pull-left {
        display: block;
        width: 100%;
      }
      fieldset .pull-left input[type="text"] {
        width: 100%;
      }
    }
    .buttons .pull-right:nth-child(2) > .button:nth-child(1) {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    @media screen and (width: 1024px) {
    .col-sm-10{
      margin-left: 10px;
    }
    }
</style>
{% if chkIsPartner %}
<link type="text/css" href="catalog/view/theme/journal2/stylesheet/MP/journal2.css" rel="stylesheet"  />

{% if separate_view is defined and separate_view %}
  <div class="container-fluid" id="content" style="margin-left: 18%">
{% else %}
  <div id="container" class="container j-container" >
{% endif %}
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>

  {% if error_warning %}
    <div class="alert alert-danger warning"><i class="fa fa-exclamation-circle"></i>{{ error_warning}}</div>
  {% endif %}
  {% if success %}
    <div class="alert alert-success success"><i class="fa fa-check-circle"> </i> {{ success}}</div>
  {% endif %}
  {% if attention %}
    <div class="alert alert-info information">{{ attention}}</div>
  {% endif %}

  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
{{ column_right}}
  <div id="content" class="{{ class}}">{{ content_top}}
    <h1 class="heading-title">
      {{ heading_title_shipping }}</h1>

    <h2 class="secondary-title">{{ text_mpshipping}}</h2>
      <div class="buttons">
        <div class="pull-left">
          <a href="{{ back}}" class="btn btn-default button"><i class="fa fa-reply"></i>{{ button_back}}</a></div>
        <div class="pull-right">
          <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary button"><i class="fa fa-plus"></i></a>
          <a onclick="$('#form-delete').submit();" class="btn btn-primary button"><i class="fa fa-trash-o"></i>{{ button_delete}}</a>
        </div>
      </div>
      {% if isMember %}
        <fieldset>
          <div class="form-horizontal row">
              <div class="pull-left" style="width:29%;display:inline-block;margin-right:1%;">
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-country">{{ shipping_country}}</label>
                  <div class="col-sm-10">
                    <input type="text" name="filter_country" value="{{ filter_country}}" placeholder="{{ filter_country}}" id="input-country" class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-price">{{ price}}</label>
                    <div class="col-sm-10">
                      <input type="text" name="filter_price" value="{{ filter_price}}" placeholder="{{ filter_price}}" id="input-price" class="form-control" />
                    </div>
                </div>
                </div>

                <div class="pull-left" style="width:29%;display:inline-block;margin-right:1%;">
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-zipto">{{ zip_to}}</label>
                  <div class="col-sm-10">
                  <input type="text" name="filter_zip_to" value="{{ filter_zip_to}}" placeholder="{{ filter_zip_to}}" id="input-zipto" class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-weightto">{{ weight_to}}</label>
                  <div class="col-sm-10">
                  <input type="text" name="filter_weight_to" value="{{ filter_weight_to}}" placeholder="{{ filter_weight_to}}" id="input-weightto" class="form-control" />
                </div>
              </div>
              </div>

             <div class="pull-left" style="width:29%;display:inline-block;">
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-zipfrom">{{ zip_from}}</label>
                  <div class="col-sm-10">
                    <input type="text" name="filter_zip_from" value="{{ filter_zip_from}}" placeholder="{{ filter_zip_from}}" id="input-zipfrom" class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-weightfrom">{{ weight_from}}</label>
                  <div class="col-sm-10">
                    <input type="text" name="filter_weight_from" value="{{ filter_weight_from}}" placeholder="{{ filter_weight_from}}" id="input-weightfrom" class="form-control" />
                  </div>
                </div>
                </div>
                <div class="pull-left" style="width:10%;display:inline-block;">
                  <a onclick="clearfilter();"  class="btn btn-danger pull-right button" style="margin-left: 10px;" data-toggle="tooltip" title="{{ button_clear_filtering}}">{{ button_clear_filtering}}</a>

                  <a onclick="filter();"  class="button pull-right" data-toggle="tooltip" title="{{ button_filtering}}">{{ button_filtering}}</a>
                </div>
              </div>
            </fieldset>




          <form action="{{ delete}}" method="post" enctype="multipart/form-data" id="form-delete">
            <div class="table-responsive">
              <table class="table table-bordered table-hover list">
                <thead>
                    <tr>
                    <td width="1" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                      <td class="text-left">
                        {% if sort == 'cs.country_code' %}
                        <a href="{{ sort_country_code}}" class="{{ order|lower }}">{{ shipping_country}}</a>
                        {% else %}
                        <a href="{{ sort_country_code}}">{{ shipping_country}}</a>
                        {% endif %}
                      </td>
                      <td class="text-left">
                        {% if sort == 'cs.zip_from' %}
                        <a href="{{ sort_zip_from}}" class="{{ order|lower }}">{{ zip_from}}</a>
                        {% else %}
                        <a href="{{ sort_zip_from}}">{{ zip_from}}</a>
                        {% endif %}
                      </td>
                      <td class="text-left">
                        {% if sort == 'cs.zip_to' %}
                        <a href="{{ sort_zip_to}}" class="{{ order|lower }}">{{ zip_to}}</a>
                        {% else %}
                        <a href="{{ sort_zip_to}}">{{ zip_to}}</a>
                        {% endif %}
                      </td>
                      <td class="text-left">
                        {% if sort == 'cs.price' %}
                        <a href="{{ sort_price}}" class="{{ order|lower }}">{{ price}}</a>
                        {% else %}
                        <a href="{{ sort_price}}">{{ price}}</a>
                        {% endif %}
                      </td>
                      <td class="text-left">
                        {% if sort == 'cs.weight_to' %}
                        <a href="{{ sort_weight_to}}" class="{{ order|lower }}">{{ weight_to}}</a>
                        {% else %}
                        <a href="{{ sort_weight_to}}">{{ weight_to}}</a>
                        {% endif %}
                      </td>
                      <td class="text-left">
                        {% if sort == 'cs.weight_from' %}
                        <a href="{{ sort_weight_from}}" class="{{ order|lower }}">{{ weight_from}}</a>
                        {% else %}
                        <a href="{{ sort_weight_from}}">{{ weight_from}}</a>
                        {% endif %}
                      </td>
                      <td class="text-left">{{ max_days}}</td>
                    </tr>
                </thead>
                <tbody>
                      {% if result_shipping %}
                      {% for result_shippings in result_shipping %}
                        <tr>
                          <td class="text-center">{% if result_shippings['selected'] %}
                            <input type="checkbox" name="selected[]" value="{{ result_shippings['id']}}" checked="checked" />
                            {% else %}
                            <input type="checkbox" name="selected[]" value="{{ result_shippings['id']}}" />
                            {% endif %}
                          </td>
                          <td class="text-left">{{  result_shippings['country']}}</td>
                          <td class="text-left" >{{ result_shippings['zip_from']}}</td>
                          <td class="text-left">{{ result_shippings['zip_to']}}</td>
                          <td class="text-left">{{  result_shippings['price']}}</td>
                          <td class="text-left">{{ result_shippings['weight_to']}}</td>
                          <td class="v">{{ result_shippings['weight_from']}}</td>
                          <td class="text-left">{{ result_shippings['max_days']}}</td>

                        </tr>
                      {% endfor %}
                      {% else %}
                      <tr>
                        <td class="text-center" colspan="12" style="text-align:center;">{{ no_records_found}}</td>
                      </tr>
                      {% endif %}
              </tbody>

              </table>
            </div>
          </form>
<div class="row pagination">
        <div class="col-sm-6 text-left">{{ pagination}}</div>
        <div class="col-sm-6 text-right results">{{ results}}</div>
  </div>

        {% else %}
          <div class="text-danger">
            {{ error_warning_authenticate}}
          </div>
        {% endif %}

{{ content_bottom}}</div>
{% else %}
  <h2 style='color:#F93D49;'>Please inform Admin</h2>
{% endif %}
</div>
</div>
{{ footer}}

<script type="text/javascript">
jQuery('input[name=up_file]').change(function(){
  csv_val = jQuery(this).val().split('.').pop();
    $('#input-csv-name').val(jQuery(this).val().replace(/C:\\fakepath\\/i, ''));
    if(csv_val!='csv'){
      jQuery('.csv-warning').addClass('text-danger').removeClass('hide');
    }else{
      jQuery('.csv-warning').addClass('hide').removeClass('text-danger');
    }
});

nextHtml = false;
prevHtml = $("<input type='text' class=\"form-control\"/>").attr({ name: 'separator' });
jQuery('.separator').click(function(){
  catchDiv = $(this).parent().next();
  nextHtml = catchDiv.html();
  catchDiv.html(prevHtml);
  prevHtml = nextHtml;
});

$('#form-delete').submit(function(){
    if ($(this).attr('action').indexOf('delete',1) != -1) {
        if (!confirm('{{ text_confirm}}')) {
            return false;
        }
    }
});

function filter() {

  url = 'index.php?route=account/customerpartner/add_shipping_mod';

  var filter_name = $('input[name=\'filter_name\']').val();

  if (filter_name) {
    url += '&filter_name=' + encodeURIComponent(filter_name);
  }

  var filter_country = $('input[name=\'filter_country\']').val();

  if (filter_country) {
    url += '&filter_country=' + encodeURIComponent(filter_country);
  }

  var filter_price = $('input[name=\'filter_price\']').val();

  if (filter_price) {
    url += '&filter_price=' + encodeURIComponent(filter_price);
  }

  var filter_zip_to = $('input[name=\'filter_zip_to\']').val();

  if (filter_zip_to) {
    url += '&filter_zip_to=' + encodeURIComponent(filter_zip_to);
  }

  var filter_zip_from = $('input[name=\'filter_zip_from\']').val();

  if (filter_zip_from) {
    url += '&filter_zip_from=' + encodeURIComponent(filter_zip_from);
  }

  var filter_weight_to = $('input[name=\'filter_weight_to\']').val();

  if (filter_weight_to) {
    url += '&filter_weight_to=' + encodeURIComponent(filter_weight_to);
  }

  var filter_weight_from = $('input[name=\'filter_weight_from\']').val();

  if (filter_weight_from) {
    url += '&filter_weight_from=' + encodeURIComponent(filter_weight_from);
  }

  location = url;
}

function clearfilter() {

  url = 'index.php?route=account/customerpartner/add_shipping_mod';

  location = url;
}
</script>
