<style>
@media screen and  (width: 768px) {
  .responsive{
    margin-top: 290%;
    margin-left: -29px;
  }
}
</style>
{{ header }}{{separate_column_left}}
{% if separate_view is defined and separate_view %}
  <div class="container-fluid" id="content" style="margin-left: 18%">
{% else %}
  <div id="container" class="container j-container">
{% endif %}
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if error_warning %}
  <div class="alert alert-danger warning"><i class="fa fa-exclamation-circle"></i> {{ error_warning}}</div>
  {% endif %}
  <div class="row">{{ column_left }}{{ column_right}}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class}}">
      <h1 class="heading-title">{{ text_notifications}}
        <div class="buttons">
          <div class="pull-right">
            <a href="{{ back}}" class="btn btn-default button">{{ button_back}}</a>
          </div>
        </div>
      </h1>
      {{ content_top}}
      <div class="content">
      <form method="post" enctype="multipart/form-data" id="form-notification" class="form-horizontal">
        <fieldset>
          <h2 class="secondary-title">{{ text_notification_information}}</h2>
          {% if isMember %}
            <ul id="tabs" class="nav nav-tabs htabs">
              <li class="active"><a href="#tab-order" id="tab_tab-order" data-toggle="tab">{{ tab_order}}</a></li>
              <li><a href="#tab-product" id="tab_tab-product" data-toggle="tab">{{ tab_product}}</a></li>
              <li><a href="#tab-seller" id="tab_tab-seller" data-toggle="tab">{{ tab_seller}}</a></li>
            </ul>
            <div class="tabs-content">
              <div class="tab-pane tab-content active" id="tab-order">
                <div class="all_notifications_div">
                  <div style="width:25%">
                    <table>
                      <tr>
                        <td>
                          <div class="checkbox input-group">
                            <input type="checkbox" value="all" name="selected[]" {% if selected is defined and selected is iterable and 'all' in selected %}checked="checked"{% endif %} />
                            <span class="label label-info pull-right input-group-btn span_margin">{{ all_notifications}}</span>
                            <div style="padding: 5px;">{{ text_all_notification}}</div>
                          </div>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          <div class="checkbox input-group">
                            <input type="checkbox" value="return" name="selected[]" {% if selected is defined and selected is iterable and 'return' in selected %}checked="checked"{% endif %} />
                            <span class="label label-danger pull-right input-group-btn span_margin">{{ return_total}}</span>
                            <div style="padding: 5px;">{{ text_return }}</div>
                          </div>
                        </td>
                      </tr>
                          {% if order_statuses is defined and order_statuses and notification_filter is defined and notification_filter %}
                            {% for key, order_status in order_statuses %}
                              {% if order_status['order_status_id'] in notification_filter %}
                              <tr>
                                <td>
                                  <div class="checkbox input-group">
                                      <input type="checkbox" value="{{ order_status['order_status_id'] }}" name="selected[]" {% if selected is defined and selected is iterable and order_status['order_status_id'] in selected %}checked="checked"{% endif %} />
                                      <span class="label label-warning pull-right input-group-btn span_margin">{{ order_status['total'] }}</span>
                                      <div style="padding: 5px;">{{ order_status['name'] }}</div>
                                  </div>
                               </td>
                             </tr>
                              {% endif %}
                            {% endfor %}
                          {% endif %}
                    </table>
                  </div>
                  <div class="notification_body">
                    {% if seller_notifications is defined and seller_notifications %}
                      <div class="table-responsive">
                        <table class="responsive" style="border-left: 1px solid #eee;">
                          <tbody>
                            {% for seller_notification in seller_notifications %}
                              <tr>
                                <td style="padding-left:20px;">
                                  <li style="margin-left:10px;">{{ seller_notification}}</li>
                                  <hr width="100%;">
                                </td>
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                      <div class="row pagination">
                        <div class="col-sm-6 text-left links">{{ pagination}}</div>
                        <div class="col-sm-6 text-right results">{{ results}}</div>
                      </div>
                    {% else %}
                    {{ text_no_notification }}
                  {% endif %}
                  </div>
                </div>

              </div>

              <div class="tab-pane tab-content" id="tab-product">
                {% if seller_product_reviews is defined and seller_product_reviews %}
                  <div class="table-responsive">
                    <table>
                      <tbody>
                        {% for seller_product_review in seller_product_reviews %}
                          <tr>
                            <td style="padding-left:20px;">
                              <li style="margin-left:10px;">{{ seller_product_review}}</li>
                              <hr width="100%;">
                            </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <div class="row pagination">
                    <div class="col-sm-6 text-left links">{{ pagination_product}}</div>
                    <div class="col-sm-6 text-right results">{{ results_product}}</div>
                  </div>
                {% else %}
  {{ text_no_notification }}
{% endif %}
              </div>

              <div class="tab-pane tab-content" id="tab-seller">
                {% if seller_reviews is defined and seller_reviews %}
                  <div class="table-responsive">
                    <table>
                      <tbody>
                        {% for seller_review in seller_reviews %}
                          <tr>
                            <td style="padding-left:20px;">
                              <li style="margin-left:10px;">{{ seller_review}}</li>
                              <hr width="100%;">
                            </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <div class="row pagination">
                    <div class="col-sm-6 text-left links">{{ pagination_seller}}</div>
                    <div class="col-sm-6 text-right results">{{ results_seller}}</div>
                  </div>
                {% else %}
  {{ text_no_notification }}
{% endif %}
              </div>

            </div>
          {% else %}
            <div class="text-danger">
              {{ error_warning_authenticate}}
            </div>
          {% endif %}
        </fieldset>
      </form>
      </div>
      {{ content_bottom}}</div>
    </div>
</div>
<link type="text/css" href="catalog/view/theme/journal2/stylesheet/MP/journal2.css" rel="stylesheet"  />
<script type="text/javascript">

  $('.nav-tabs li a').on('click',function(){
    if ($(this).attr('id')) {
      localStorage.setItem("tab-active",$(this).attr('id'))
      localStorage.setItem("tab-pane-active",$(this).attr('id').substring(4))
    }
  });

  $(document).ready(function(){
    var tab_active = localStorage.getItem("tab-active");
    var tab_pane_active = localStorage.getItem("tab-pane-active");

{% if tab is defined and tab %}
  tab_active = 'tab_tab-{{ tab}}';
  tab_pane_active = 'tab-{{ tab}}';
{% endif %}

    if (tab_active && tab_pane_active) {
      $("#"+tab_active).parent().addClass('active');
      $("#"+tab_active).parent().siblings().removeClass('active');
      $("#"+tab_pane_active).addClass('active');
      $("#"+tab_pane_active).siblings().removeClass('active');
    }

  });

</script>
<script type="text/javascript">
  $('input[name*=\'selected\']').on('click',function(){
    var options = '';
    $('input[name*=\'selected\']:checked').each(function(index,item){
        options += ','+$(item).val();
    });

    var url = 'index.php?route=account/customerpartner/notification&page={{ page}}';

    if (options) {
      url += '&options='+options.substr(1);
    }

    location = url;
  });
</script>
<style>
  hr{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .label-info{
    background-color: #5bc0de;
    padding: 0px 7px;
  }

  .label-warning{
    background-color: #f0ad4e;
    padding: 0px 7px;
  }

  .label-success{
    background-color: #5cb85c;
    padding: 0px 7px;
  }

  .label-danger{
    background-color: #d9534f;
    padding: 0px 7px;
  }

  li{
    //font-family: monospace;
  }
  .span_margin{
    margin-top:6px;
    margin-left:3px;
  }

  .all_notifications_div{
    display:inline-flex;
    width: 100%;
  }
  .notification_filter{
    width:20%;
    font-size:15px;
  }

  .notification_body{
    width:80%;
  }
  @media screen and (max-width: 700px) {
    .all_notifications_div{
      display: inline;
    }

    .notification_filter{
      width:100%;
    }

    .notification_body{
      width:100%;
    }
  }
</style>
{{ footer}}
